body{
	background-color:blue;
}

section{
	width:80%;
	background-color:white;
	margin-top:10%;
	margin-left:10%;
	height:500px;
}

#smallBox{
	position:absolute;
	height:20px;
	width:20px;
	background-color:red;
}

